{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for el in history %}
                <tr>
                    <td>{{ el["symbol"] | upper }}</td>
                    <td>{{ el["num_shares"] }}</td>
                    <td>{{ el["price"] }}</td>
                    <td>{{ el["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}