{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table id="customers">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for el in portfolio %}
                <tr onclick=action action="/buy" method="post" name="symbol" value="{{ el["symbol"] }}">
                    <td class="uppercase">{{ el["symbol"] }}</td>
                    <td class="uppercase">{{ el["name"] }}</td>
                    <td>{{ el["shares"] }}</td>
                    <td>{{ el["price"] }}</td>
                    <td>{{ el["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>

                <td class="textEnd" colspan="4">Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>

                <td class="textEnd" colspan="4">TOTAL</td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}