{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Cash</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>TTOTAL</td>
            <td></td>
        </tr>
    </table>
{% endblock %}