{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label for="shares">Select share to sell::</label>
        <select id="shares" name="share">
            {% for share in shares %}
                <option value="{{share["symbol"]}}"
            {% endfor %}
        </select>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}